<li id="post-<%=p._id%>">



<p><%=p.content%></p>
           
<% if((locals.user) && (p.user.id==locals.user.id)){ %>
           <a class="post_delete_link" href="/post/destroy/<%=p._id%>">X</a>
           <%}%>
           
                      
                      <small><%=p.user.name%></small>
                      <%if(locals.user){%>
                                 <form action="/post/comment/create" id="post-<%=p._id%>-comments-form"class="commentCreate" method="Post">
                                            
                                            <textarea name="content" cols="30" rows="4"></textarea>
                                            
                                            <input type="hidden" name="post" value="<%= p.id %>" >
                                            <input type="submit">
                                 </form>
                      <%}%>
                      <div>
                                 <ul id="commentContainer<%=p._id%>" class="post-<%=p._id%>-comments-form">
                                 <%for(comments of p.comment){%>

                                            
                                            <%- include('_comment') -%>
                                           
                                            
                                        
                                 <%}%>        
                              </ul>
                      </div>

</li>